<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Library Portal</title>
<link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<div class="navbar">
<h1>LIBRARY PORTAL</h1>
<div class="searchstudent">
<form action="/libraryportal/admin/searchstudent">
<input type="text" id="searchstudent" name="s" required  placeholder="search here" >
<button type="submit"><img src="/css/magnifying-glass.png"></button>
</form>
</div>
<ul>
<li><a href="/libraryportal/admin/home">Home</a></li>
<li><a href="/libraryportal/admin/addstudent">Add student</a></li>
<li><a href="/libraryportal/admin/addbook">Add Book</a></li>
<li><a href="/libraryportal/admin/update">Update</a></li>
<li><a href="/libraryportal/home">Logout</a></li>
</ul>
</div>
 <div th:if="${studentdetails != null and studentdetails.size() > 0}">
<div class="table">
 <div class="Student_information">
<h1>showing student </h1>
</div>
<table >
  <thead>
    <tr >
     <th scope="col">Student_RollNo</th>
      <th scope="col">Student_Name </th>
        <th scope="col">Password</th> 
       <th scope="col">Book_Count</th>
        <th>Action</th>
       <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="studentdetails :${studentdetails}">
     <td th:text="${studentdetails.studentrollno}"></td>
      <td th:text="${studentdetails.studentname}"></td>
     <td th:text="${studentdetails.password}"></td> 
      <td th:text="${studentdetails.bookcount}"></td>
       <td   class="view"><a th:href="@{'/libraryportal/admin/view/' + ${studentdetails.studentrollno}}"
    >View</a></td>
      <td><a th:href="@{'/libraryportal/admin/delete/' + ${studentdetails.studentrollno}}"
      >Delete</a></td>
      </tr>
     </tbody>
</table>
</div>
</div>
<div class="msg">
<div  th:else>
    <p th:text="${message}"></p>
</div>
</div>
</body>
</html>