<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Library Portal</title>
<link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<div class="navbar">
<h1>LIBRARY PORTAL</h1>
<div class="searchstudent">
<form action="/libraryportal/searchinfo">
<input type="text" id="searchbook" name="name"   placeholder="search here" required>
<button type="submit"><img src="/css/magnifying-glass.png"></button>
</form>
</div>
<ul>
<li><a href="/libraryportal/home">Home</a></li>
<li><a href="/libraryportal/addbook">Add Book</a></li>
<li><a href="/libraryportal/updates">Update</a></li>
<li><a href="/libraryportal/showinfo">Show Info</a></li>
<li><a href="/libraryportal/login">Admin Login</a></li>
</ul>
</div>
 <div th:if="${bookdetails != null and bookdetails.size() > 0}">
<div class="table">

<table >
  <thead>
    <tr >
      <th scope="col">Book_Id</th>
      <th scope="col">Book_Name </th>
      <th scope="col">Book_Author</th>
      <th scope="col">Book_Availability</th>  
        
    </tr>
  </thead>
  <tbody>
    <tr th:each="bookdetails :${bookdetails}">
       <td th:text="${bookdetails.bookid}"></td>
      <td th:text="${bookdetails.bookname}"></td>
       <td th:text="${bookdetails.bookauthor}"></td>
       <td th:text="${bookdetails.availability}"></td>
      
      </tr>
     </tbody>
</table>
</div>
</div>
<div class="msg">
<div th:else>
    <p th:text="${message}"></p>
</div>
</div>

</body>
</html>